## Ejercicio Regresión. House Pricing

### Objetivo

La finalidad del ejercicio es construir un modelo a partir de los datos proporcionados para predecir el precio de inmuebles.

### Datos

In [2]:
import pandas as pd

df = pd.read_csv('regression_data.csv', sep=";")
df.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,10/13/14,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,12/09/2014,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2/25/15,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,12/09/2014,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2/18/15,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

### Descripción de columnas de variables

Se proporciona la información de algunas de las variables del dataset, de las que no se proporciona información se debe a que se asume que el nombre de la columna es autoexplicativo.

●	Id: Unique identification number for the property.

●	date: date the house was sold.

●	price: the price of the house.

●	waterfront: if house which has a view to a waterfront.

●	condition: How good the condition is (overall). **1** indicates worn-out property and **5** excellent.

●	grade: Overall grade given to the housing unit, based on King County grading system. 1 poor,13 excellent.

●	Sqft_above: square footage of house apart from the basement.

●	Sqft_living15: Living room area in 2015(implies - some renovations). This might or might not have affected the lot size area.

●	Sqft_lot15: lotSize area in 2015(implies - some renovations).